@import '../../styles/shared/colors';

.cardContent {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  @media screen and (min-width: 768px) {
    flex-direction: row;
  }
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.imagePlaceholder {
  flex-basis: 250px;
  flex-shrink: 0;
}

.titleText {
  color: color('primary');
}

.text {
  color: color('secondary');
}
